button {
  font-size: 40;
  height: 100px;
  width: 100px;
  padding: 20;
  background-color: #f0f0f0;
  text-align: center;
  border-width: 1;
  border-color: #888;
}

input {
  margin: 10px;
  padding: 10px;
}

.buttonOp {
  background-color: #c3c3c3;
}

.display {
  flex: 1;
  justify-content: space-between;
}

.displayValue {
  font-size: 20px;
  color: #000;
}

.buttons {
  width: 400px;
  justify-content: center;
  align-items: center;
}
